.list {
  margin: 0 auto;
  width: 600px;
  height: auto;
  display: flex;
  gap: 10px;
}

.item {
  padding: 10px 0 10px;
  width: 112px;
  height: auto;
  border: 2px black solid;
  border-radius: 15px;
}

.img {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 75%;
}

.name {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

/* .status {
  font-size: 18px;
  text-align: center;
} */
.statusGreen {
  font-size: 18px;
  text-align: center;
  color: green;
}
.statusRed {
  font-size: 18px;
  text-align: center;
  color: red;
}
