.table {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 600px;
  height: auto;
  border: 1px solid black;
  border-collapse: collapse;
}

.thead {
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.tbody {
  font-size: 18px;
  /* font-weight: 400; */
}

.tr:nth-child(even) {
  background-color: rgb(211, 205, 205);
}

.th {
  padding: 5px;
  width: 200px;
  text-align: center;
}

.td {
  padding: 5px;
  width: 200px;
  text-align: center;
  border: 1px solid black;
}
